soap-api/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://localhost:8000/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://localhost:8000/">

  <message name="CreditCardData">
    <part name="cardNumber" type="xsd:string"/>
    <part name="cardHolder" type="xsd:string"/>
    <part name="expirationDate" type="xsd:string"/>
    <part name="securityCode" type="xsd:string"/>
  </message>

  <message name="ProductData">
    <part name="name" type="xsd:string"/>
    <part name="quantity" type="xsd:int"/>
    <part name="price" type="xsd:float"/>
  </message>

  <message name="InitiatePaymentRequest">
    <part name="userId" type="xsd:string"/>
    <part name="currency" type="xsd:string"/>
    <part name="description" type="xsd:string"/>
    <part name="creditCard" type="tns:CreditCardData"/>
    <part name="products" type="tns:ProductData[]"/>
  </message>

  <message name="InitiatePaymentResponse">
    <part name="transactionId" type="xsd:string"/>
  </message>
  <message name="PaymentData">
  <part name="title" type="xsd:string"/>
  <part name="quantity" type="xsd:int"/>
  <part name="price" type="xsd:float"/>
</message>
  <message name="PaymentsRequest">
    <part name="userId" type="xsd:string"/>
  </message>

  <message name="PaymentsResponse">
    <part name="payments" type="tns:PaymentData[]"/>
  </message>

  <portType name="PaymentPortType">
    <operation name="InitiatePayment">
      <input message="tns:InitiatePaymentRequest"/>
      <output message="tns:InitiatePaymentResponse"/>
    </operation>
    <operation name="Payments">
      <input message="tns:PaymentsRequest"/>
      <output message="tns:PaymentsResponse"/>
    </operation>
  </portType>

  
  <binding name="PaymentBinding" type="tns:PaymentPortType">
    <soap:binding style="rpc"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InitiatePayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" namespace="http://localhost:8000/"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://localhost:8000/"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Payments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" namespace="http://localhost:8000/"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://localhost:8000/"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <service name="PaymentService">
    <documentation>SOAP Service for Payments</documentation>
    <port name="PaymentPort" binding="tns:PaymentBinding">
      <soap:address location="http://localhost:8000/PaymentService"/>
    </port>
  </service>
</definitions>
